extends layout

block content
  h1= title
  
  table.table.table-striped
      thead
        tr
          th Nome
          th Email
      tbody
        tr
          td Denis de Sousa Missias
          td denis.missias@gmail.com